In [ ]:
%FETCH https://github.com/lerocha/chinook-database/blob/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite?raw=true db.db

In [ ]:
%LOAD db.db

In [ ]:
SELECT * FROM Artist LIMIT 10;